<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Who was in {{subject.label}}?</title>

    <!-- HTML 5 Meta Tags -->
    <meta name="language" content="EN"/>
    <meta name="keywords" content="movies, films, actors, cinema, blockbusters, {{subject.label}}"/>
    <meta name="description" content="Who Was In...? Find out all about {{subject.label}} and any of your other movie & film star related queries."/>
    <meta name="subject" content="movies"/>
    <meta name="abstract" content="All about {{subject.label}}, related movies and actors."/>
    <meta name="robots" content="index,follow"/>
    <meta name="copyright" content="Who Starred In"/>
    <meta name="author" content="Admin, whostarredin@gmail.com"/>
    <meta name="reply-to" content="whostarredin@gmail.com"/>
    <meta name="url" content="http://whowasin.com"/>
    <meta name="identifier-URL" content="http://whowasin.com"/>
    <meta name="Classification" content="Movies"/>
    <meta name="Who was in {{subject.label}}?" content="See which movies and actors are connected to {{subject.label}}"/>
    <meta name="coverage" content="Worldwide"/>
    <meta name="distribution" content="Global"/>
    <meta name="rating" content="General"/>
    <meta name="revisit-after" content="24 hours"/>

    <!-- OpenGraph Meta Tags -->
    <meta name="og:title" content="{{subject.label}}"/>
    <meta name="og:type" content="movie"/>
    <!-- <meta name="og:url" content=""/> -->
    <meta name="og:image" content="http://whowasin.com/media/homepage/hero.png"/>
    <meta name="og:site_name" content="Who Was In...?"/>
    <meta name="og:description" content="All about {{subject.label}}, related movies and actors."/>
    <meta name="og:locale" content="en_US"/>

  <link href='https://fonts.googleapis.com/css?family=Exo:800|Lato:400,100' rel='stylesheet' type='text/css'>
  <style>
    {{inlineCss}}
  </style>
</head>
<body>
  <!--
  <nav>
    <li><a href="/">home</a></li>
    <li><a href="/film">films</a></li>
    <li><a href="/actor">actors</a></li>
  </nav> -->
  <!-- Google Tag Manager -->
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id={{gtmId}}"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','{{gtmId}}');</script>
  <!-- End Google Tag Manager -->
  <div class="cse-container">
    <script>
      (function() {
        var cx = '{{cseId}}';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
    <gcse:search></gcse:search>
  </div>
  <header>
    <a class="quiet-link" href="/"><h1>Who was in...</h1></a>
    <div class="hero-image-wrapper">
      <img src="{{subject.hero}}" class="fullbleed"></img>
    </div>
    <h2>{{subject.label}}</h2>
  </header>
