    <p>Leave a review of {{subject.label}}</p>
    <div id="disqus_thread"></div>
    <script>
      var disqus_config = function () {
        this.page.identifier = '{{subject.id}}'
      };
      */
      (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = '//whowasin.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
      })();
    </script>
