{{> header}}
  <section>
    {{#film.mainStar}}
    <p>The {{film.year}} {{film.adjective}}, {{film.label}}, starred {{film.mainStar.label}} as {{film.mainStar.character}}.</p>
    {{/film.mainStar}}
    <p>{{film.blurb}}</p>
  </section>
{{> footer}}
