{{> header}}
  <section class="introduction">
    {{#film.franchise}}
    <p>Part of the <a href="{{film.franchise.url}}">{{film.franchise.label}}</a> franchise</p>
    {{/film.franchise}}

    {{#film.blurb}}
    <p>{{film.blurb}}</p>
    {{/film.blurb}}
    {{^film.blurb}}
    {{#film.useNlg}}
    <p>The {{film.year}} {{film.adjective}}, {{film.label}}, starred {{film.mainStar.label}} as {{film.mainStar.character}}.</p>
    {{/film.useNlg}}
    {{^film.useNlg}}
    <p>{{film.dbpediaAbstract}}</p>
    {{/film.useNlg}}
    {{/film.blurb}}
  </section>
  <section class="link-grid cast">
    <h2>Cast</h2>
    <ul>
      {{#film.cast}}
      <li>
        {{> rich-link}}
      </li>
      {{/film.cast}}
    </ul>
  </section>
  <section class="related">
    {{> related}}
  </section>
  <section class="reviews">
    {{> reviews}}
  </section>
{{> footer}}
