{{> header}}

  <section class="featured-content">
    <h3>Featured films</h3>
    {{#featuredEntities}}
    <a class="quiet-link" href="{{url}}">
      <article>
        <img src="{{image}}"></img>
        <h4>{{label}}</h4>
        <p>{{blurb}}</p>
      </article>
    </a>
    {{/featuredEntities}}
  </section>

{{> footer}}
