{{> header}}

  <section class="introduction">
    {{#featuredEntities}}
    <article>
      <h3>{{label}}</h3>
      <img src="{{image}}"></image>
      <p>{{blurb}}</h3>
    </article>
    {{/featuredEntities}}
  </section>

{{> footer}}
