html, body {
  margin: 0;
  padding: 0;
  font-size: 16px; }

header h1, header h2, section {
  margin: auto; }

section {
  clear: both; }
  section.reviews {
    padding-top: 1rem; }

@media (min-width: 1700px) {
  header h1, header h2, section {
    width: 1600px; }

  header div.hero-image-wrapper {
    height: 560px; } }
@media (min-width: 1200px) and (max-width: 1700px) {
  header h1, header h2, section {
    width: 1051px; }

  header div.hero-image-wrapper {
    height: 300px; } }
@media (min-width: 650px) and (max-width: 1200px) {
  header h1, header h2, section {
    width: 601px; }

  header div.hero-image-wrapper {
    height: 220px; } }
@media (min-width: 400px) and (max-width: 650px) {
  section {
    width: 400px; }

  header div.hero-image-wrapper {
    height: 150px; } }
@media (max-width: 400px) {
  section {
    width: 200px; }

  header div.hero-image-wrapper {
    height: 80px; } }
html, body {
  font-family: Lato, sans-serif;
  color: #4E4B5D; }
  @media (min-width: 1600px) {
    html, body {
      font-size: 20px; } }
  @media (min-width: 650px) and (max-width: 1600px) {
    html, body {
      font-size: 16px; } }
  @media (min-width: 400px) and (max-width: 650px) {
    html, body {
      font-size: 18px; } }
  @media (max-width: 400px) {
    html, body {
      font-size: 15px; } }

header {
  font-family: Exo;
  font-weight: 800;
  color: black; }

p {
  font-size: 1.2rem;
  line-height: 1.7em; }

section.related a[href] {
  color: #F6944B;
  text-decoration: none;
  background-image: -webkit-linear-gradient(90deg, #fff 0.1em, #F6944B 0.1em, #F6944B 0.15em, #fff 0.17em);
  background-image: linear-gradient(0deg, #fff 0.1em, #F6944B 0.1em, #F6944B 0.15em, #fff 0.17em);
  text-shadow: -1px 0 1px #fff, -1px 0 0 #fff, 1px 0 0 #fff, 1px 0 1px #fff; }

a.quiet-link {
  color: currentColor;
  text-decoration: none; }

section.featured-content h3 {
  font-size: 3rem;
  text-align: center; }
section.featured-content article {
  position: relative;
  margin-bottom: 1rem;
  clear: both; }
  section.featured-content article img {
    height: 100%;
    width: 300px;
    object-fit: cover;
    object-position: 50% 35%;
    position: absolute; }
  section.featured-content article h4, section.featured-content article p {
    margin-left: 316px; }
  section.featured-content article p {
    max-height: 8.5em;
    overflow: hidden; }
    section.featured-content article p:after {
      content: '...';
      position: absolute;
      bottom: 0;
      right: 0; }
@media (min-width: 1200px) {
  section.featured-content article:first-of-type {
    position: relative;
    margin-bottom: 4rem; }
    section.featured-content article:first-of-type:after {
      content: ' ';
      position: absolute;
      bottom: -2rem;
      height: 0px;
      border-bottom: 2px solid #4F7AC3; }
    section.featured-content article:first-of-type img {
      height: 100%;
      width: 500px; }
    section.featured-content article:first-of-type h4, section.featured-content article:first-of-type p {
      margin-left: 532px; }
    section.featured-content article:first-of-type p {
      max-height: 17em; }
  section.featured-content article:nth-of-type(2), section.featured-content article:nth-of-type(3) {
    position: relative;
    margin-bottom: 2rem;
    clear: none;
    width: 49%;
    float: left; }
    section.featured-content article:nth-of-type(2) img, section.featured-content article:nth-of-type(3) img {
      height: 100px;
      width: 100%;
      position: relative; }
    section.featured-content article:nth-of-type(2) p, section.featured-content article:nth-of-type(2) h4, section.featured-content article:nth-of-type(3) p, section.featured-content article:nth-of-type(3) h4 {
      margin-left: 0; }
    section.featured-content article:nth-of-type(2) p, section.featured-content article:nth-of-type(3) p {
      max-height: 17em; }
  section.featured-content article:nth-of-type(3) {
    margin-left: 2%; } }
@media (min-width: 1700px) {
  section.featured-content article:first-of-type img {
    width: 800px; }
  section.featured-content article:first-of-type h4, section.featured-content article:first-of-type p {
    margin-left: 840px; }
  section.featured-content article:first-of-type p {
    max-height: 34em; } }
section.featured-content h4 {
  font-size: 2em;
  margin-bottom: 0.5rem; }
section.featured-content p {
  margin-top: 0; }

section.entity-index ul {
  list-style: none;
  padding: 0; }
  section.entity-index ul li {
    margin: 0.2em; }
    section.entity-index ul li a {
      color: #4E4B5D;
      text-decoration: none;
      background-image: -webkit-linear-gradient(90deg, #fff 0.1em, #4E4B5D 0.1em, #4E4B5D 0.15em, #fff 0.17em);
      background-image: linear-gradient(0deg, #fff 0.1em, #4E4B5D 0.1em, #4E4B5D 0.15em, #fff 0.17em);
      text-shadow: -1px 0 1px #fff, -1px 0 0 #fff, 1px 0 0 #fff, 1px 0 1px #fff; }
  @media (min-width: 800px) {
    section.entity-index ul {
      column-count: 2; } }

section.info {
  padding-top: 1.6em; }
  section.info dl {
    position: relative;
    line-height: 1.2em; }
    section.info dl * {
      padding: 0 0 1em; }
    section.info dl dt {
      float: left;
      clear: left;
      width: 7em;
      text-align: right;
      text-transform: uppercase;
      font-weight: 100; }
    section.info dl dd {
      margin: 0 0 0 8em; }

div.cse-container {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  width: 300px; }

header h1 {
  font-size: 4rem; }
  @media (min-width: 401px) {
    header h1 {
      transform: translateY(50%);
      text-shadow: -3px 0 0 white, -2px 2px 0 white, 0px 3px 0 white, 2px 2px 0 white, 3px 0px 0 white, 2px -2px 0 white, 0px -3px 0 white, -2px -2px 0 white, 0 0 5px white; } }
  @media (max-width: 400px) {
    header h1 {
      margin-top: 2em; } }
header h2 {
  font-size: 3.2rem;
  line-height: 0.7em;
  transform: translateY(-0.645em);
  color: white;
  text-align: right;
  text-transform: uppercase; }
@media (max-width: 450px) {
  header div.hero-image-wrapper {
    background-color: black; }
    header div.hero-image-wrapper img {
      display: none; } }
header div.hero-image-wrapper {
  overflow-y: hidden;
  position: relative;
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)); }
header img.fullbleed {
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 150px;
  transform: translateY(-50%); }

.link-grid ul {
  list-style: none;
  padding: 0; }
.link-grid li {
  float: left;
  margin: 1em 0 0 0; }
@media (min-width: 1700px) {
  .link-grid li {
    margin-left: 25px; }
    .link-grid li:nth-child(5n - 4) {
      margin-left: 0; }
  .link-grid a {
    width: 300px;
    height: 330px; } }
@media (min-width: 1200px) and (max-width: 1700px) {
  .link-grid li {
    margin-left: 25px; }
    .link-grid li:nth-child(4n - 3) {
      margin-left: 0; }
  .link-grid a {
    width: 244px;
    height: 268.4px; } }
@media (min-width: 650px) and (max-width: 1200px) {
  .link-grid li {
    margin-left: 20px; }
    .link-grid li:nth-child(3n - 2) {
      margin-left: 0; }
  .link-grid a {
    width: 187px;
    height: 205.7px; } }
@media (min-width: 400px) and (max-width: 650px) {
  .link-grid li {
    margin-left: 16px; }
    .link-grid li:nth-child(2n - 1) {
      margin-left: 0; }
  .link-grid a {
    width: 192px;
    height: 211.2px; } }
@media (max-width: 400px) {
  .link-grid li {
    margin-left: 0; }
    .link-grid li:nth-child(1n - 0) {
      margin-left: 0; }
  .link-grid a {
    width: 200px;
    height: 220px; } }
.link-grid a {
  display: block;
  background-size: cover;
  position: relative;
  cursor: pointer; }
  .link-grid a h3, .link-grid a h4 {
    position: absolute;
    margin: 0;
    padding: 1em;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center; }
  .link-grid a h3 {
    top: 0; }
  .link-grid a h4 {
    bottom: 0; }

section.related ul {
  list-style: none;
  padding: 0; }
  section.related ul li {
    margin: 0.6em 0; }

footer {
  background-color: #4F7AC3;
  margin-top: 2em;
  padding: 2em; }
  footer nav {
    padding: 0;
    list-style: none; }
    footer nav li {
      margin-left: 2em;
      display: inline-block; }
      footer nav li a {
        color: #fff;
        text-decoration: none;
        background-image: -webkit-linear-gradient(90deg, #4F7AC3 0.1em, #fff 0.1em, #fff 0.15em, #4F7AC3 0.17em);
        background-image: linear-gradient(0deg, #4F7AC3 0.1em, #fff 0.1em, #fff 0.15em, #4F7AC3 0.17em);
        text-shadow: -1px 0 1px #4F7AC3, -1px 0 0 #4F7AC3, 1px 0 0 #4F7AC3, 1px 0 1px #4F7AC3; }

/*# sourceMappingURL=dist.css.map */
