section.featured-content {
  h3 {
    font-size: 3rem;
    text-align: center;
  }

  article {
    position: relative;
    margin-bottom: 1rem;
    clear: both;

    img {
      height: 100%;
      width: 300px;
      object-fit: cover;
      object-position: 50% 15%;
      position: absolute;
    }

    h4, p {
      margin-left: 316px;
    }

    p {
      max-height: 8.5em;
      overflow: hidden;

      &:after {
        content: '...';
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }

  @media (min-width: $breakpoint-laptop) {
    article:first-of-type {
      position: relative;
      margin-bottom: 4rem;

      &:after {
        content: ' ';
        position: absolute;
        bottom: -2rem;
        height: 0px;
        border-bottom: 2px solid $color-scheme-primary;
      }

      img {
        height: 100%;
        width: 500px;
        object-position: 50% 42%;
      }

      h4, p {
        margin-left: 532px;
      }

      p {
        max-height: 17em;
      }
    }
    article:nth-of-type(2), article:nth-of-type(3), {
      position: relative;
      margin-bottom: 2rem;
      clear: none;

      width: 49%;
      float: left;

      img {
        height: 140px;
        width: 100%;
        position: relative;
      }

      p, h4 {
        margin-left: 0;
      }

      p {
        max-height: 17em;
      }
    }
    article:nth-of-type(3) {
      margin-left: 2%;
    }
  }

  @media (min-width: $breakpoint-large-desktop) {
    article:first-of-type {
      img {
        width: 800px;
      }

      h4, p {
        margin-left: 840px;
      }

      p {
        max-height: 34em;
      }
    }
  }

  h4 {
    font-size: 2em;
    margin-bottom: 0.5rem;
  }

  p {
    margin-top: 0;
  }
}
