.link-grid {
  ul {
    list-style: none;
    padding: 0;
  }

  li {
    float: left;
    margin: 1em 0 0 0;
  }

  @media (min-width: $breakpoint-large-desktop) {
    li {
      margin-left: $grid-spacing-large-desktop;

      &:nth-child(#{$grid-columns-large-desktop}n - #{$grid-columns-large-desktop - 1}) {
        margin-left: 0;
      }
    }
    a {
      width: $grid-width-large-desktop;
      height: $grid-width-large-desktop * 1.1;
    }
  }
  @media (min-width: $breakpoint-laptop) and (max-width: $breakpoint-large-desktop) {
    li {
      margin-left: $grid-spacing-laptop;

      &:nth-child(#{$grid-columns-laptop}n - #{$grid-columns-laptop - 1}) {
        margin-left: 0;
      }
    }
    a {
      width: $grid-width-laptop;
      height: $grid-width-laptop * 1.1;
    }
  }
  @media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-laptop) {
    li {
      margin-left: $grid-spacing-tablet;

      &:nth-child(#{$grid-columns-tablet}n - #{$grid-columns-tablet - 1}) {
        margin-left: 0;
      }
    }
    a {
      width: $grid-width-tablet;
      height: $grid-width-tablet * 1.1;
    }
  }
  @media (min-width: $breakpoint-mobile) and (max-width: $breakpoint-tablet) {
    li {
      margin-left: $grid-spacing-mobile;

      &:nth-child(#{$grid-columns-mobile}n - #{$grid-columns-mobile - 1}) {
        margin-left: 0;
      }
    }
    a {
      width: $grid-width-mobile;
      height: $grid-width-mobile * 1.1;
    }
  }
  @media (max-width: $breakpoint-mobile) {
    li {
      margin-left: $grid-spacing-mobile-small;

      &:nth-child(#{$grid-columns-mobile-small}n - #{$grid-columns-mobile-small - 1}) {
        margin-left: 0;
      }
    }
    a {
      width: $grid-width-mobile-small;
      height: $grid-width-mobile-small * 1.1;
    }
  }

  a {
    display: block;
    background-size: cover;
    position: relative;
    cursor: pointer;

    h3 {
      position: absolute;
      bottom: 0;
      margin: 0;
      padding: 1em;
      left: 0;
      right: 0;
      background-color: rgba(0,0,0,0.7);
      color: white;
      text-align: center;
    }
  }
}
